<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

	<preference name="phonegap-version" value="3.7.0" />

    <name>SAPUI5 Hybrid</name>

    <description>
        An example SAPUI5 Hybrid App.
    </description>

    <author href="https://www.abat.de" email="jam@abat.de">
        abat AG
    </author>

	<icon src="./img/114_iPhone-Retina_Web_Clip.png" />
	
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#009DE0" />
	<preference name="StatusBarStyle" value="lightcontent" />
	
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="com.phonegap.plugin.statusbar" />
	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="com.phonegap.plugins.barcodescanner" />
	
</widget>
